<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>SIBETA - Sistem Informasi Bebas Tanggungan</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="logo">
            <img
              alt="Politeknik Negeri Malang Logo"
              height="74"
              src="images/logo.png"
              width="356"
            />
          </div>
          <ul>
            <li>
              <a href="#"> Home </a>
            </li>
            <li>
              <a href="#"> Alur Bebas Tanggungan </a>
            </li>
            <li>
              <a href="#"> Kontak </a>
            </li>
          </ul>
          <a class="login-btn" href="logintes.php"> Login </a>
        </nav>
      </div>
    </header>
    <section class="hero">
      <img
        alt="Gedung Politeknik Negeri Malang"
        height="600"
        src="images/poltek2.png"
        width="1200"
      />
      <div class="hero-text">
        <h1>SIBETA</h1>
        <p>Sistem Informasi Bebas Tanggungan</p>
        <p>
          Sistem untuk menyelesaikan Bebas Tanggungan Tugas Akhir Jurusan
          Teknologi Informasi Politeknik Negeri Malang
        </p>
        <a class="login-btn" href="logintes.php"> Login </a>
      </div>
    </section>
    <section class="alur">
          <img
            alt="alur bebas tanggungan"
            height="70%"
            src="images/alurbebastanggungan.png"
            width="60%"
          />
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="logo2">
          <img
            alt="Politeknik Negeri Malang Logo"
            height="100%"
            src="images/logo2.png"
            width="100%"
          />
        </div>
        <div class="info">
          <p>INFO</p>
          <p></p>
          <p>Polinema</p>
          <p>Webmail</p>
          <p>Siakad</p>
        </div>
        <div class="contact">
          <p>CONTACT US</p>
          <p></p>
          <p>JL. Soekarno Hatta No. 9 Malang</p>
          <p>Phone : (0341) 404424, 404425</p>
          <p>E-mail : lmspolinema@polinema.ac.id</p>
        </div>
        <div class="social">
          <p>GET SOCIAL</p>
          <a href="#">
            <i class="fab fa-twitter"> </i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"> </i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"> </i>
          </a>
          <a href="#">
            <i class="fab fa-google"></i>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
