<div class="landing-page">
  <div class="bg"></div>
  <img class="dsc-0746-scaled-1" src="dsc-0746-scaled-10.png" />
  <div class="alur">Alur</div>
  <div class="alur-bebas-tanggungan">Alur Bebas Tanggungan</div>
  <div class="button">
    <div class="login">Login</div>
  </div>
  <div class="heading-paragraph">
    <div
      class="sistem-informasi-untuk-menyelesaikan-bebas-tanggungan-tugas-akhir-jurusan-teknologi-informasi-politeknik-negeri-malang"
    >
      Sistem informasi untuk menyelesaikan bebas tanggungan Tugas Akhir Jurusan
      Teknologi Informasi
      <br />
      Politeknik Negeri Malang
    </div>
    <div class="sibeta-sistem-informasi-bebas-tanggungan">
      <span>
        <span class="sibeta-sistem-informasi-bebas-tanggungan-span">SI</span>
        <span class="sibeta-sistem-informasi-bebas-tanggungan-span2">
          BETA
          <br />
        </span>
        <span class="sibeta-sistem-informasi-bebas-tanggungan-span3">
          SISTEM INFORMASI
          <br />
          BEBAS TANGGUNGAN
        </span>
      </span>
    </div>
  </div>
  <img class="polygon-2" src="polygon-20.svg" />
  <img class="polygon-4" src="polygon-40.svg" />
  <img class="polygon-6" src="polygon-60.svg" />
  <img class="polygon-3" src="polygon-30.svg" />
  <img class="polygon-5" src="polygon-50.svg" />
  <img class="vector-1" src="vector-10.svg" />
  <div class="info-polinema-webmail-si-akad">
    <span>
      <span class="info-polinema-webmail-si-akad-span">
        INFO
        <br />
      </span>
      <span class="info-polinema-webmail-si-akad-span2">
        <br />
        Polinema
        <br />
        Webmail
        <br />
        SiAkad
        <br />
      </span>
    </span>
  </div>
  <div
    class="contact-us-jl-soekarno-hatta-no-9-malang-phone-0341-404424-404425-e-mail-lmspolinema-polinema-ac-id"
  >
    <span>
      <span
        class="contact-us-jl-soekarno-hatta-no-9-malang-phone-0341-404424-404425-e-mail-lmspolinema-polinema-ac-id-span"
      >
        CONTACT US
        <br />
      </span>
      <span
        class="contact-us-jl-soekarno-hatta-no-9-malang-phone-0341-404424-404425-e-mail-lmspolinema-polinema-ac-id-span2"
      >
        <br />
      </span>
      <span
        class="contact-us-jl-soekarno-hatta-no-9-malang-phone-0341-404424-404425-e-mail-lmspolinema-polinema-ac-id-span3"
      >
        JL. Soekarno Hatta No. 9 Malang
        <br />
        Phone : (0341) 404424, 404425
        <br />
        E-mail :
      </span>
      <span
        class="contact-us-jl-soekarno-hatta-no-9-malang-phone-0341-404424-404425-e-mail-lmspolinema-polinema-ac-id-span4"
      >
         
      </span>
      <span
        class="contact-us-jl-soekarno-hatta-no-9-malang-phone-0341-404424-404425-e-mail-lmspolinema-polinema-ac-id-span5"
      >
        lmspolinema@polinema.ac.id
        <br />
      </span>
    </span>
  </div>
  <div class="get-social">
    GET SOCIAL
    <br />
    <br />
  </div>
  <img class="image-9" src="image-90.png" />
  <div class="sign-in">Sign In</div>
  <div class="upload-dokumen">
    Upload
    <br />
    Dokumen
  </div>
  <div class="verifikasi">Verifikasi</div>
  <div class="cetak-bebas-tanggungan">
    Cetak
    <br />
    Bebas Tanggungan
  </div>
  <div class="request-bebas-tanggungan">
    Request
    <br />
    Bebas Tanggungan
  </div>
  <div class="ellipse-3"></div>
  <div class="ellipse-5"></div>
  <div class="ellipse-6"></div>
  <div class="ellipse-7"></div>
  <div class="ellipse-8"></div>
  <div class="ellipse-9"></div>
  <div class="ellipse-4"></div>
  <div class="_01">01</div>
  <div class="_02">02</div>
  <div class="_03">03</div>
  <div class="_04">04</div>
  <div class="_05">05</div>
  <img class="circle-user-solid-1" src="circle-user-solid-10.svg" />
  <img class="file-zipper-solid-1" src="file-zipper-solid-10.svg" />
  <img class="circle-check-solid-3" src="circle-check-solid-30.svg" />
  <img class="file-solid-2" src="file-solid-20.svg" />
  <img class="print-solid-1" src="print-solid-10.svg" />
  <div class="rectangle-126"></div>
  <div class="rectangle-127"></div>
  <img class="image-10" src="image-100.png" />
  <img class="image-11" src="image-110.png" />
  <div class="rectangle-11"></div>
  <div class="button2">
    <div class="login2">Login</div>
  </div>
  <div class="group-566">
    <div class="alur-bebas-tanggungan2">Alur Bebas Tanggungan</div>
    <div class="kontak">Kontak</div>
    <div class="rectangle-10"></div>
    <div class="home">Home</div>
  </div>
  <img class="image-12" src="image-120.png" />
  <img class="sibeta-1" src="sibeta-10.png" />
  <img
    class="sistem-bebas-tanggungan-tugas-akhir-1-1"
    src="sistem-bebas-tanggungan-tugas-akhir-1-10.png"
  />
  <img class="sibeta-12" src="sibeta-11.png" />
  <img
    class="sistem-bebas-tanggungan-tugas-akhir-1-12"
    src="sistem-bebas-tanggungan-tugas-akhir-1-11.png"
  />
</div>
