/* CARD CATATAN */

.informasi-dokumen .card-catatan {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 20px 0px 20px;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}

.card-catatan .tambah-catatan {
    margin: 20px;
}

.tambah-catatan .btn-tambah-catatan {
    background: linear-gradient(90deg, rgba(25,118,210,1) 30%, rgba(11,100,189,1) 96%);
    color: white;
    cursor: pointer;
}

.tambah-catatan form {
    margin: 20px;
}

.tambah-catatan form input[type="text"] {
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #0245a3 !important;
    padding: 10px !important;
    border-radius: 5px !important;
    width: 80% !important;
    background-color:rgb(255, 255, 255) !important;
}

.tambah-catatan form input[type="submit"] {
    background-color: #d2e8f9;
    border: 1px solid #1976d2;
    color: #1976d2;
}

.tambah-catatan form input[type="submit"]:hover {
    background: linear-gradient(90deg, rgba(25,118,210,1) 30%, rgba(11,100,189,1) 96%);
    color: white;
}

.card-catatan .catatan-body {
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

.catatan-body .text {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.catatan-body .status-catatan div {
    margin-top: 5px;
}

.verifikasi-catatan {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.status-catatan a {
    margin-top: 10px;
}

.status-catatan .verifikasi-catatan {
    cursor: pointer;
}

.catatan-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
}

.catatan-content-body {
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.catatan-dokumen.pendukung {
    margin-top: 30px;
    background-color: #F2FCFC;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}