@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/bgpoltek.png");
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: #DcDcDc;
    border-radius: 17px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 40px 20px;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background-color: white;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.logo img {
    width: 80%;
    height: auto;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 10px;
}

.error,
.logout {
    font-size: 14px;
    margin: 10px 0;
}

.error {
    color: red;
}

.logout {
    color: green;
}

form input[type="number"],
form input[type="password"],
form input[type="email"],
form input[type="text"] {
    width: 93%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 17px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, box-shadow 0.3s;
    margin-right: 10px;
}

input[type="checkbox"]:checked {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background-color: #2851a3;
    border-radius: 5px;
}

form button {
    width: 101%;
    padding: 15px 10px;
    background: #3366cc;
    color: #fff;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: background 0.3s;
}

form button:hover {
    background: #2851a3;
}