/* SEMUA TABLE */

.table-container {
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}

.table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
}

.table thead {
    background: linear-gradient(90deg, rgba(25,118,210,1) 30%, rgba(11,100,189,1) 96%);
    color: white;
}

.table tbody {
    background-color: aliceblue;
}

table th, td {
    padding: 20px 15px 20px 15px !important;
    white-space: nowrap;
}

.table tbody tr:hover {
    background-color: white;
}

/* TABEL TUGAS AKHIR */

.table .tugas_akhir {
    padding: 0;
}

.table .tugas_akhir table thead tr th {
    font-size: 15px;
    padding: 20px;
}

.tugas_akhir .table tbody tr td{
    font-size: 15px;
    padding: 20px 15px 20px 15px;
}

.table .table-container.dokumen {
    font-size: 15px;
    padding: 20px 15px 20px 15px;
}

div.dt-container .dt-search input {
    font-size: 15px;
    width: 150px;
    height: 30px;
    border-radius: 5px ;
    border: solid 2px blue;
    background-color: white !important;
}